* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 100px;
  padding: 20px;
  box-sizing: border-box;
}

.video-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 50px;
}

.video-item {
  width: 600px;
  height: 310px;
  border: none;
}

.video-item-container {
  width: 545px;
  height: 305px;
  overflow: hidden;
  margin-bottom: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: -4px 7px 42px 0px rgba(138, 138, 138, 0.87);
  -moz-box-shadow: -4px 7px 42px 0px rgba(138, 138, 138, 0.87);
  box-shadow: -4px 7px 42px 0px rgba(138, 138, 138, 0.87);
}