.channel {
  display: flex;
  justify-content: cetner;
  align-items: center;
  position: relative;
  margin: 0 50px;
}

.channel_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.channel_link {
  text-decoration: none;
  background-color: tomato;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}

.channel_info {
  height: 94%;
  position: absolute;
  top: 20px;
  left: 250px;
  padding-left: 100px;
  margin-top: 0;
}

.channel_item {
  background-color: white;
  border: 0.1px solid lightgray;
  display: flex;
  align-items: center;
  word-wrap: break-word;
  min-height: 30px;
  padding: 10px;
}

.channel_item:first-child {
  background-color: tomato;
  color: white;
}