.video-item-container {
  width: 545px;
  height: 305px;
  overflow: hidden;
  margin-bottom: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: -4px 7px 42px 0px rgba(138, 138, 138, 0.87);
  -moz-box-shadow: -4px 7px 42px 0px rgba(138, 138, 138, 0.87);
  box-shadow: -4px 7px 42px 0px rgba(138, 138, 138, 0.87);
}